* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.menu_nav {
    height: 70px;
    line-height: 60px;
    background: #fff;
}

.menu_nav .logo {
    padding-left: 20px;
}

.menu_nav ul {
    padding-right: 20px;
}

.menu_nav ul li {
    padding-left: 20px;
    line-height: 70px;
}

.menu_nav ul li a {
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 550;
    transition: .5s;
}

.menu_nav ul li a:hover {
    color: #71cffd;
    text-decoration: none;
}

.menu_nav ul li a.active {
    color: #71cffd;
}


/* ------------------------------------------ */

header {
    position: relative;
    top: 0px;
    left: 0px;
    height: 780px;
    width: 100%;
    background-size: cover;
    background-clip: content-box;
    background-image: url("../img/banner_bg.jpg");
    margin-bottom: 100px;
    ;
}

header .overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(4, 9, 30, .4);
}

header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.content h6 {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 550;
}

.content h2 {
    font-size: 70px;
    line-height: 60px;
    font-weight: 700;
}

.content p {
    font-weight: 550;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 0px 20px;
}

.content a {
    background-color: #F3C300;
    padding: 10px 30px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #F3C300;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.hvr-sweep-to-right::before {
    background-color: #f8b100;
    transition: 1s;
}

.hotel_booking {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.hotel_booking .Book_Room {
    width: 100%;
    padding: 45px 55px 22px;
    background-color: #04091E;
}

.Book_Room div div h3 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
}

.boxcalendar {
    position: relative;
}

.custinput {
    background-color: transparent;
    border: 1px solid #5F6065;
    border-radius: 0px;
    outline: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.boxcalendar .calendar i {
    color: #52535A;
}

.calendar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.nice-select {
    background-color: transparent;
    border: 1px solid #5F6065;
    border-radius: 0px;
    width: 100%;
    height: 38px;
    line-height: 33px;
    outline: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.list {
    width: 100%;
    outline: none;
}

.select1 {
    margin-bottom: 53px;
}

.btnbook {
    width: 100%;
    display: block;
    background: #f3c300;
    color: #222222;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 5px 20px;
    text-align: center;
    font-weight: bold;
}

.btnbook:hover {
    text-decoration: none;
}


/* --------- */

.hotel {
    margin-bottom: 150px;
}

.hotel_content {
    width: 100%;
}

.hotel_artical {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hotel_artical img {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.hotel_artical:hover img {
    transform: scale(1.19);
    -webkit-transform: scale(1.19);
    -moz-transform: scale(1.19);
    -ms-transform: scale(1.19);
    -o-transform: scale(1.19);
}

.hotel_btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: #F3C300;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 25px;
    font-weight: 600;
    width: 60%;
}

.hotel_btn:hover {
    text-decoration: none;
}

.hotel_content .hotel_type .sec_h4 {
    font-size: 18px;
    line-height: 38px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0px;
}

.hotel_content .hotel_type:hover {
    text-decoration: none;
}

.hotel_content h5 {
    font-size: 24px;
    line-height: 28px;
    color: #52c5fd;
    font-weight: 600;
    margin-bottom: 0px;
}

.hotel_content h5 small {
    font-size: 60%;
    font-weight: 400;
}


/* ------------preloader */

.preloader {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}